* {
    font-family: var(--regular-font-family);
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.bg-img {
    padding: 0;
    margin: 0;

    height: 900px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tittle {
    font-size: 60px;
    font-family: var(--tittle-font-family);
}

.bg-yellow {
    background-color: rgba(242, 220, 161, 0.5);
    padding: 0.5rem;
}

.section-margin {
    margin-top: 20rem;
}